body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
}

#game {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    position: relative;
    width: 320px;
    height: 320px;
}

.quarter {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.top-left-quarter {
    border-top-left-radius: 200px;
    background-color: green;
}

.top-right-quarter {
    border-top-right-radius: 200px;
    background-color: red;

}

.bottom-left-quarter {
    border-bottom-left-radius: 200px;
    background-color: yellow;
}

.bottom-right-quarter {
    border-bottom-right-radius: 200px;
    background-color: blue;
}

.on{
    background-color: white;
}

.center{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-color: black;
    position:absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter:hover{
    box-shadow: inset 0px 0px 0px 5px rgb(255, 0, 221);
    box-sizing: border-box;
}

.quarter {
    transition: all 0.3s ease;
}

.quarter:active {
    filter: brightness(1.5);
}

.active{
    background-color: white;
}



#score {
    margin-top: 20px;
    font-size: 24px;
}

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color : white;
    border : none;
    border-radius: 5px;
}

#start-button:hover {
    background-color: #45a049;
}

