body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #e100ff;
}

#game {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    margin-top: -300px;
}

.quarter {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.top-left-quarter {
    border-top-left-radius: 200px;
    background-color: green;
}

.top-right-quarter {
    border-top-right-radius: 200px;
    background-color: red;

}

.bottom-left-quarter {
    border-bottom-left-radius: 200px;
    background-color: yellow;
}

.bottom-right-quarter {
    border-bottom-right-radius: 200px;
    background-color: blue;
}

.on{
    background-color: white;
}

.center{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-color: black;
    background-image: url('Imagenes/OIP (1).jpg');
    background-size: cover;
    background-position: center;
    position:absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter:hover{
    box-shadow: inset 0px 0px 0px 5px rgb(255, 0, 221);
    box-sizing: border-box;
}

.quarter {
    transition: all 0.3s ease;
}

.quarter:active {
    filter: brightness(1.5);
}

.active{
    background-color: white;
}



#score {
    color: white;
    margin-top: 20px;
    font-size: 24px;
}

#start-button:hover {
    background-color: #45a049;
}

#game-over-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color : white;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.8);
    text-align: center;
    z-index: 1000;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color : white;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(73, 228, 255, 0.8);
    text-align: center;
    z-index: 1000;
}

#scoreboard h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color:#e100ff
}

#scoreboard ol {
    list-style-type:decimal;
    padding: 0;
    margin: 0;
    color: white;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 5%;
    height: 70vh;
    width: 80vw;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
}

#main-menu h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#back-to-menu {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #e100ff;
    color : white;
    border : none;
    border-radius: 5px;
}

#main-menu button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #e100ff;
    color : white;
    border : none;
    border-radius: 5px;
    margin-top: 20px;
}

#main-menu button:hover {
    background-color: #9302a7;
}

#player-name {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: text;
    background-color: white;
    color : black;
    border : none;
    border-radius: 5px;
}

#main-menu label {
    font-size: 18px;
    margin-top: 450px;
}

.hidden {
    visibility: hidden;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    #game {
      grid-template-columns: repeat(2, 120px);
      grid-template-rows: repeat(2, 120px);
      width: 300px;
      height:300px;
      margin-top: -60px;
    }
  
    .quarter {
      width: 120px;
      height: 120px;
    }
  
    .center {
      width: 120px;
      height: 120px;
      top: 40%;
      left:50%;
    }
  
    #score {
      font-size: 22px;
      margin-top:-15px;
    }
  
    #game-over-message {
      font-size: 22px;
      padding: 18px;
      margin-top: 80;
    }

    #scoreboard{
        font-size: 22px;
        padding: 18px;
        margin-top: 10px;
    }
  
    #main-menu h1 {
      font-size: 42px;
      margin-top: 5px;
    }
  
    #back-to-menu, #main-menu button, #player-name {
      font-size: 17px;
      padding: 9px 18px;
      margin-top: 10px;
    }
  
    #main-menu label {
      font-size: 17px;
      margin-top: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #game {
      grid-template-columns: repeat(2, 120px);
      grid-template-rows: repeat(2, 120px);
      width: 260px;
      height: 260px;
      margin-top: -125px;
    }
  
    .quarter {
      width: 120px;
      height: 120px;
    }
  
    .center {
      width: 120px;
      height: 120px;
    }
  
    #score {
      font-size: 22px;
      margin-top:20px;
    }
  
    #game-over-message {
      font-size: 22px;
      padding: 18px;
    }

    #scoreboard{
        font-size: 22px;
        padding: 18px;
    }
  
    #main-menu h1 {
      font-size: 42px;
      margin-top: 5px;
    }
  
    #back-to-menu, #main-menu button, #player-name {
      font-size: 17px;
      padding: 9px 18px;
      margin-top: 10px;
    }
  
    #main-menu label {
      font-size: 17px;
      margin-top: 300px;
    }
}

@media (max-width: 767px) {
    #game {
      grid-template-columns: repeat(2, 80px);
      grid-template-rows: repeat(2, 80px);
      width: 100px;
      height: 180px;
      margin-top: -150px;
    }
  
    .quarter {
      width: 80px;
      height: 80px;
    }
  
    .center {
      width: 80px;
      height: 80px;
    }
  
    #score {
      font-size: 18px;
      margin-top: 10px;
    }
  
    #game-over-message {
      font-size: 18px;
      padding: 10px;
    }

    #scoreboard{
        font-size: 18px;
        padding: 10px;
    }
  
    #main-menu h1 {
      font-size: 24px;
      margin-top: 3px;
    }
  
    #back-to-menu, #main-menu button, #player-name {
      font-size: 14px;
      padding: 8px 16px;
      margin-top: 10px;
    }
  
    #main-menu label {
      font-size: 14px;
      margin-top: 250px;
    }
}